@charset "UTF-8";

:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #1abc9c;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #1abc9c;
  --bs-secondary: #2c3e50;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 176, 0, 76;
  --bs-secondary-rgb: 44, 62, 80;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-bg: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

.masthead {
  padding-top: calc(6rem + 74px);
  padding-bottom: 6rem;
}

.masthead .masthead-heading {
  font-size: 2.75rem;
  line-height: 2.75rem;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

.masthead .masthead-subheading {
  font-size: 1.25rem;
}

.masthead .masthead-avatar {
  width: 20rem;
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;

}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.avatar img {
  background:
    linear-gradient(to right, #5ddcff, #4e00c2) border-box;
  border: 10px solid transparent;
  padding: 0;
}


@media (min-width: 992px) {
  .masthead {
    padding-top: calc(6rem + 104px);
    padding-bottom: 6rem;
  }

  .masthead .masthead-heading {
    font-size: 4rem;
    line-height: 3.5rem;
  }

  .masthead .masthead-subheading {
    font-size: 1.5rem;
  }

}

.portfolio .portfolio-item {
  cursor: pointer;
  position: relative;
  display: block;
  max-width: 15rem;
  border-radius: 0.5rem;
  overflow: hidden;
}


.portfolio .portfolio-item img:hover {
  transition: 1s ease all;
  transform: translate(0, -10%);
}

.portfolio .portfolio-item .portfolio-item-caption:hover {
  opacity: 1;
}

.portfolio .portfolio-item .portfolio-item-caption .portfolio-item-caption-content {
  font-size: 0.5rem;
}

.portfolio-modal .btn-close {
  color: #1abc9c;
  font-size: 2rem;
  padding: 1rem;
}

.portfolio-modal .portfolio-modal-title {
  font-size: 2.25rem;
  line-height: 2rem;
}

@media (min-width: 992px) {
  .portfolio-modal .portfolio-modal-title {
    font-size: 3rem;
    line-height: 2.5rem;
  }
}

.footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: var(--bs-gray-800);
  color: #fff;
}

.copyright {
  background-color: #1a252f;
}

/*formacoes*/
.formacoes {
  grid-template-columns: repeat(2, 50%);
  justify-content: center;
  gap: 40px;
}

.formacoes h5 {
  text-align: center;
  padding-top: 5%;
  color: var(--bs-gray-800) !important;
}

.formacoes p {
  margin-left: 5%;
  color: var(--bs-gray-800) !important;

}

@media (max-width: 900px) {
  .formacoes {
    grid-template-columns: repeat(1, 100%);
    margin: 0;
  }

}

/*formacoes*/

/*Sobre Mim*/
#sobre_mim {
  display: flex;
  flex-direction: row;
  padding: 0;
  border-top: rgba(var(--bs-primary-rgb), var(--bs-text-opacity)) !important;
}

#sobre_mim div div:nth-child(1) {
  border-top-left-radius: 0.5rem;
}

#sobre_mim p {
  font-size: 1.1rem;
  text-align: justify;
  margin-left: 15%;
  margin-right: 15%;
}

/*fim do sobre Mim*/
@media (max-width: 1200px) {
  #sobre_mim {
    display: flex;
    flex-direction: column-reverse !important;
  }

  #sobre_mim div {
    width: 100% !important;
    border-radius: 0px !important;
  }

  #sobre_mim p {
    padding-bottom: 10px;
  }
}

.shadow-inset {
  box-shadow: inset 100vw 0 0 rgba(0, 0, 0, 0.25);
}

.shadow-inset p,
.shadow-inset h2,
.shadow-inset h5 {
  -webkit-text-stroke: thin;
  filter: drop-shadow(5px 5px 5px black);
}

#background {
  z-index: -1;
  position: fixed;
  background-repeat: no-repeat;
  filter: drop-shadow(8px 8px 10px gray);
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 10% 0;
}

.bg-primary {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

#mainNav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
}

#mainNav .navbar-brand {
  color: #fff;
}

#mainNav .navbar-nav {
  margin-top: 1rem;
}

#mainNav .navbar-nav li.nav-item a.nav-link {
  color: #fff;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  --bs-bg-opacity: 1;
  color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity));
}

#mainNav .navbar-nav li.nav-item a.nav-link:active,
#mainNav .navbar-nav li.nav-item a.nav-link:focus {
  color: #fff;
}

#mainNav .navbar-nav li.nav-item a.nav-link.active {
  color: rgb(176, 0, 76);
}


@media (min-width: 992px) {
  #mainNav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    transition: padding-top 0.3s, padding-bottom 0.3s;
  }

  #mainNav .navbar-brand {
    font-size: 1.75em;
    transition: font-size 0.3s;
  }

  #mainNav .navbar-nav {
    margin-top: 0;
  }

  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.5em;
  }
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  line-height: 1.2;
}


.page-section {
  padding: 6rem 0;
}

.page-section .page-section-heading {
  font-size: 2.25rem;
  line-height: 2rem;
}

@media (min-width: 992px) {
  .page-section .page-section-heading {
    font-size: 3rem;
    line-height: 2.5rem;
  }
}

.divider-custom {
  margin: 1.25rem 0 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divider-custom .divider-custom-line {
  width: 100%;
  max-width: 7rem;
  height: 0.25rem;
  background-color: #2c3e50;
  border-radius: 1rem;
  border-color: #2c3e50;
}

.divider-custom .divider-custom-line:first-child {
  margin-right: 1rem;
}

.divider-custom .divider-custom-line:last-child {
  margin-left: 1rem;
}

.divider-custom .divider-custom-icon {
  color: #2c3e50;
  font-size: 2rem;
}

.divider-custom.divider-light .divider-custom-line {
  background-color: #fff;
}

.divider-custom.divider-light .divider-custom-icon {
  color: #fff;
}

.text-secondary {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-secondary-rgb), var(--bs-text-opacity)) !important;
}

.btn-social {
  border-radius: 100%;
  display: inline-flex;
  width: 3.25rem;
  height: 3.25rem;
  font-size: 1.25rem;
  justify-content: center;
  align-items: center;
}

.btn-outline-secondary:hover {
  color: #fff;
  background-color: #2c3e50;
  border-color: #2c3e50;
}

.btn-outline-secondary {
  color: var(--bs-secondary);
  border-color: var(--bs-secondary);
}
